<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gumdom.Dao.GoodMapper">
    <insert id="insertObject" parameterType="com.gumdom.Pojo.Goods">
        insert into gd_goods (id,name,remark,createdTime) values (#{id},#{name},#{remark},now())


    </insert>
    
    <delete id="deleteObjectByIds">
        delete form gd_goods where id in
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
        /*用in的性能不如or拼接的性能好*/
    </delete>
    K
    <delete id="deleteObjectByIDS">
        delete form gd_goods
        <where>
            <foreach collection="array" item="id">
                or id=#{id}
            </foreach>
        </where>
        /*用in的性能不如or拼接的性能好*/
    </delete>
</mapper>